@media screen and (max-width:600px){
	header{
		text-align:center; 
	}
	
	.homeheader h1{
		width:462px;
		margin:auto;
		text-align:center;
	}
	
	.homeheader h3{
		width:300px;
		margin:auto;
		text-align:center;
	}
	
	.homeheader{
		height:300px;
	}
	
		nav {
		padding:5px;
	}
	
	nav ul li{
		display:block; 
	}
	
	nav ul {
		margin-top:10px; 
	}
	
	.biografiaCard{
		width:450px;
		text-align:center;
	}
	
	  .responsive {
		width: 100%;
  }
	
	#mobileMenu{
		text-decoration:none;
		color:white;
		padding:3px;
		font-size:200%; 
		border:1px solid white;
		border-radius:10px;
		display: block; 
	}
	
	#menù{
		display: none; 
	}
}