/* CSS Document */
/* Stili generali per la pagina */

body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	text-transform:normal; 
}

header {
	background-color:#B0E0E6;
	color:black;
	font-family: 'Merriweather', serif;		
	padding:3px;
	text-align:center;
}

header h2{
	display:inline-block; 
}

.logo{
	font-size:200%;
	text-transform:uppercase; 
	font-family: "Eczar", serif;
}

#menù {
	display:block; 
}

nav {
	font-family: 'Merriweather', serif;	
	text-transform:normal; 
	background-color:#122936;
	color:white; 
	text-align:center;
	position:stick;
}

nav ul {
	margin: 0; 
	padding: 0; 
}

nav ul li {
	display: inline-block; 
	list-style-type:none; 
	padding:15px;
}

nav ul li:hover{
	background-color:#0000FF; 
}

nav ul li a {
	text-decoration: none; 
	color:white; 
}

.homeheader{
	background-image:url(../Images/backhome.jpg); 
	background-size:cover; 
	padding-top:20%;
	padding-bottom:20%;
}

.labelbar {
	font-family: 'Merriweather', serif;	
	color:black; 
	background-color:white; 
	text-align:center;
	padding:25px; 
	height:auto; 
}

.labelbar h3{
	margin:2%;
}

#biografia{
	text-align:center;
	padding:15px; 
	color:black; 
	text-transform:normal;
	background-image:url(../Images/backbiografia.jpg);
	background-size:cover;
}

.biografiaCard {
	width:500px; 
	padding:35px; 
	background-color:#98FB98;
	color: black; 
	display:inline-block;
	border:1px; 
	margin:10px;
	box-shadow: -1px 7px 16px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 7px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 7px 16px 0px rgba(0,0,0,0.75);
}

.biografiaCard div {
	padding:15px; 
	text-align:center; 
	font-family:'Open Sans', sans-serif;
	text-transform:normal; 
}

.biografia-cricle{
	border-radius: 200px; 
}

#gallery{
	text-align:center;
}

div.gallery {
  border: 1px solid #ccc;
  text-align:center; 
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.video{
	text-align:center;
}

#boxes{
	text-align:center;
	background-image:url(../Images/backhomefonti.jpg);
	background-size: cover;
	background-repeat:no-repeat;
    padding:15px;	
}
	
.fonti{
	background-color:#98FB98; 
	color:black; 
	text-align:center; 
	border-radius:25px;
	width:450px; 
	padding:15px; 
	margin:10px; 
	margin-right:5%; 
	display: inline-block; 
	box-shadow: -1px 7px 16px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 7px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 7px 16px 0px rgba(0,0,0,0.75);
}

.fonti:hover{
	box-shadow: -1px 7px 32px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 7px 32px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 7px 32px 0px rgba(0,0,0,0.75);
}

footer{
	background-color:#B0E0E6; 
	color:black; 
	text-align:center; 
	padding:10px;
}

#mobileMenu{
	display:none; 
}

